<div class="row">
  <div class="col-2 bg-light">
    <%= image_tag( root_url + @book.picture_url, :alt => "rss feed", :class => 'img-thumbnail' ) -%>
  </div>
  <div class="col-10 bg-light">
    <h2>
      <%= @book.title %>
    </h2>
    <p>
      Автор: <%= @book.author %>
    </p>
    <p>
      Стоимость: <%= @book.price %>
    </p>
    <p>
      Категория: <%= @book.category %>
    </p>
    <p>
      Описание: <%= @book.description %>
    </p>
  </div>
</div>
<h2>Отзывы:</h2>
</p>
<% @book.comments.each do |comment| %>
  <p>
    <%= comment.author %><br>
    Оценка: <%= comment.estimate %><br>
    <%= comment.body %><br>
    <% if user_signed_in? %>
      <% if current_user.id == comment.user_id %>
        <%= link_to 'Удалить', [comment.book, comment],
                 method: :delete,
                 data: { confirm: 'Вы уверены?' } %>
      <% end %>
    <% end %>
  </p>
<% end %>

<h2>Добавьте комментарий:</h2>
<p>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% else %>
    <p>
      <%= link_to 'Войдите', new_user_session_path %>, чтобы оставить комментарий
    </p>
  <% end %>
</p>
<p>
