<img src="<%= @book.picture_url %>" alt="">
<h2>
  <%= @book.title %>
</h2>
<p>
  Автор: <%= @book.author %>
</p>
<p>
  Стоимость: <%= @book.price %>
</p>
<p>
  Категория: <%= @book.category %>
</p>
<p>
  Описание: <%= @book.description %>
</p>
