<%= image_tag( root_url + @book.picture_url, :alt => "rss feed") -%>
<h2>
  <%= @book.title %>
</h2>
<p>
  Автор: <%= @book.author %>
</p>
<p>
  Стоимость: <%= @book.price %>
</p>
<p>
  Категория: <%= @book.category %>
</p>
<p>
  Описание: <%= @book.description %>
</p>
