<%= image_tag( root_url + @book.picture_url, :alt => "rss feed") -%>
<h2>
  <%= @book.title %>
</h2>
<p>
  Автор: <%= @book.author %>
</p>
<p>
  Стоимость: <%= @book.price %>
</p>
<p>
  Категория: <%= @book.category %>
</p>
<p>
  Описание: <%= @book.description %>
</p>

<h2>Отзывы:</h2>
</p>
<% @book.comments.each do |comment| %>
  <p>
    <%= comment.author %><br>
    Оценка: <%= comment.estimate %><br>
    <%= comment.body %><br>
    <% if current_user.id == comment.user_id %>
      <%= link_to 'Удалить', [comment.book, comment],
               method: :delete,
               data: { confirm: 'Вы уверены?' } %>
    <% end %>
  </p>
<% end %>

<h2>Добавьте комментарий:</h2>
<p>
  <% if user_signed_in? %>
    <%= form_for([@book, @book.comments.build]) do |f| %>
      <p>
        <%= f.label :estimate %><br>
        <%= f.number_field :estimate, in: 1..5, step: 1 %>
      </p>
      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit %><br>
      </p>
    <% end %>
  <% else %>
    <p>
      <%= link_to 'Войдите', new_user_session_path %>, чтобы оставить комментарий
    </p>
  <% end %>
</p>
<p>
